{% extends "base_generic.html" %}

{% block content %}
<div class="wrapper">
  <div id="formContent">
    <div>
      <img src="{% static "pokerwoo.svg" %}" id="icon" alt="Pokerwoo" />
    </div>      
    {% if form.email.errors %}
      <div class="formError">{{ form.email.errors }}</div>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <p>{{ form.email.label }}:</p>
      {{ form.email }}
      <input type="submit" value="Reset password">
    </form>
  </div>
</div>
{% endblock %}