{% extends "base_generic.html" %}

{% block content %}

  <div class="wrapper">
    <div id="formContent">
      <div>
        <img src="{% static "pokerwoo.svg" %}" id="icon" alt="Pokerwoo" />
      </div>

      {% for field in form %}
        {% if field.errors %}
          <div class="formError">{{ field.errors }}</div>
        {% endif %}
      {% endfor %}
  
      <div class="formHelp">{{ form.new_password1.help_text }}</div>
      <!-- Login Form -->
      <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        <p>{{ form.old_password.label }}:</p>
        {{ form.old_password }}
        <p>{{ form.new_password1.label }}:</p>
        {{ form.new_password1 }}
        <p>{{ form.new_password2.label }}:</p>
        {{ form.new_password2 }}
        <input type="submit" value="Change Password">
      </form>
  
    </div>
  </div>
  
{% endblock %}